* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #151b54;
  --secondary-color: #123456;
  --tertiary-color: #DAEDF5;
  --button-bg-color: #29465b;
  --button-bg-hover-color: #3b5c70;
  --bg-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.container{
  border-radius: 10px;
  width: 600px;
  height: 450px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
}

.screen {
  display: none;
  margin: 30px;
}

.screen.active {
  display: block;
}

.screen.active h1 {
  font-size: 50px;
  margin: 10px;
}

#start, #home, #results {
  text-align: center;
}

.startBtn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.startBtn:hover {
  background-color: var(--button-bg-hover-color);
  transform: scale(1.05);
}

.quiz-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.timer {
  border-radius: 20px;
  background-color: var(--tertiary-color);
  padding: 10px;
  color: var(--primary-color);
}

.timer.fa-solid {
  padding-right: 10px;
}

hr {
  border: 1px solid var(--secondary-color);
}

.content-wrapper {
  margin-bottom: 15px;
}

#home .subtitle,
#results h2 {
  font-size: 45px;
  margin: 0;
  padding-bottom: 25px;
}

#score, #percentage {
  margin: 0;
  padding-bottom: 15px;
}

#score {
  font-size: 20px;
}

#percentage {
  font-size: 40px;
  font-weight: bolder;
  color: var(--secondary-color);
}

#question {
  overflow-wrap: break-word;
  padding-bottom: 10px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card:hover {
  background-color: var(--button-bg-hover-color);
  transform: translateY(-5px);
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button.answer-btn {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 10px 20px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.answer-btn.correct {
  background-color: #c7e9c0;
  transform: scale(1.05);
}

button.answer-btn.wrong {
  background-color: #ff7b7b;
}

#nextBtn {
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--bg-color);
}

#nextBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.actions button {
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.actions button:hover {
  background-color: var(--button-bg-hover-color);
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .container {
    width: 90%;
    height: auto;
  }

  .quiz-grid {
    flex-direction: column;
    align-items: center;
  }
};

