body {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 20px;
  padding: 40px;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
  text-align: center;
}

.screen.active h1 {
  margin: 0 20px;
  font-size: 50px;
}

.screen.active p {
  margin-bottom: 20px;
  font-size: 20px;
}

.startBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.quiz-grid {
  display: flex;
  gap: 20px;
  width: 100%;
}