:root {
  --primary-color: #151b54;
  --secondary-color: #123456;
  --button-bg-color: #29465b;
  --button-bg-hover-color: #36454f;
  --tertiary-color: #97adba;
  --button-text-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.container{
  border: 2px solid var(--border-color);
  border-radius: 10px;
  width: 600px;
  height: 450px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.screen {
  display: none;
  margin: 30px;
}

.screen.active {
  display: block;
}

.screen.active h1 {
  font-size: 50px;
}

.screen.active p {
  margin-bottom: 20px;
  font-size: 20px;
}

#start, #home, #results {
  text-align: center;
}

.startBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.quiz-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: 1px solid var(--secondary-color);
}

.content-wrapper {
  margin-bottom: 15px;
}

#home .subtitle,
#results h2 {
  font-size: 45px;
  margin: 0;
  padding-bottom: 30px;
}

#question {
  overflow-wrap: break-word;
  padding-bottom: 10px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button.answer-btn {
  padding: 10px 20px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  text-align: left;
}

#nextBtn {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

#nextBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.actions button {
  margin-right: 20px;
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
