body {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen h1 {
  font-size: 50px;
  text-align: center;
}

.screen {
  display: block;
}

.screen.active {
  display: none;
}

.quiz-grid {
  display: flex;
  gap: 20px;
  width: 100%;
}